<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsUITesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsUITesting.Properties.Settings>
            <setting name="ApplicationPath" serializeAs="String">
                <value>C:\Users\Naeem\source\repos\GridNoDataSourceDoNotDistrurbMortgageCalculatorFrom1999 - Copy\DoNotDistrurbMortgageCalculatorFrom1999\bin\Debug\DoNotDistrurbMortgageCalculatorFrom1999.exe</value>
            </setting>
        </WinFormsUITesting.Properties.Settings>
    </userSettings>
</configuration>